<h1><%= @event.title %></h1>
<small><%= @event.start_time.strftime("%b %d. %Y %I:%M%p") %></small> 
<p>
<small><%= @event.end_time.strftime("%b %d. %Y %h") %></small>
<p>
<%= link_to "edit", edit_event_path %>